body{
	padding: 15px;
	border-style: solid;
	border-color: #808000;
	font-family: Times new romon;
}

h1,h2{
	color: #004466;
}

#table1{
	border-style: solid;
	text-align: center;
	border-width: 2px;
}

thead{
	color: #006699;
}